<div class="container-fluid">
    <div class="container">
        <h5 class="text-center">Contract us </h5>
        

        <div class="row">
            <div class="col-md-6">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d31095.732312348697!2d77.61738993862305!3d13.03780187401547!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1722074420229!5m2!1sen!2sin"
                    width="650" height="470" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-md-6">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="inputEmail4" class="form-label">First Name <span>*</span></label>
                            <input type="text" class="form-control" placeholder="First name" aria-label="First name"
                                required>
                        </div>
                        <div class="col-md-6">
                            <label for="inputEmail4" class="form-label">Last Name <span>*</span></label>
                            <input type="text" class="form-control" placeholder="Last name" aria-label="Last name"
                                required>
                        </div>
                        <div class="col-md-6">
                            <label for="inputEmail4" class="form-label">Mail Id <span>*</span></label>
                            <input type="email" class="form-control" id="exampleFormControlInput1"
                                placeholder="name@example.com" required>
                        </div>
                        <div class="col-md-6">
                            <label for="inputEmail4" class="form-label">Phone Number <span>*</span></label>
                            <input type=" number" class="form-control" id="exampleFormControlInput1"
                                placeholder=" Phone Number" required>
                        </div>
                        <div class="col-md-12">
                            <label for="floatingTextarea">Comments</label>
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
                                style="height: 100px"></textarea>

                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Agree
                                    </label>
                                </div>

                            </div>

                        </div>
                        <a routerLink="/faq" class="Faq">FAQ's</a>
                        <div class="col-md-12">
                            <a routerLink=" " class=" button-cls"> Sign up</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>