<div class="container-fluid">
    <div class="container" style="padding-bottom: 30px;">
        <div class="area-title text-center mb-75 wow fadeInUp" data-wow-delay=".3s" data-wow-duration=".3" style="visibility: visible;animation-delay: 0.3s;animation-name: fadeInUp;">
            <h1>Add To cart</h1>
           
        </div>  
        <div class="row" style="padding-bottom: 30px;">
            <div class="col-md-6">
                <img src="../../../assets/images/Homepage/d4.avif" class="img-fluid" alt="...">
            </div>
            <div class="col-md-6">
                <h5 class=" pro-name">Product name</h5>
                <p><span style="text-decoration:line-through;">$143.00</span> <span class="text-clr"> $123.00</span></p>
                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                <p>Dramatically envisioneer interactive leadership through there for is functionalized ROI. Professionally simplify synergistic initiatives before effective rocket channels. Dramatically create fully converts.</p>
                <p>Last 24 Stock Ready To Buy</p> 

                <h6>About this item</h6>
                <ul>
                    
                    <li><i class="fa-solid fa-check"></i> Single door refrigerator with Intellisense Inverter Technology</li>
                    <li> <i class="fa-solid fa-check"></i>Single door refrigerator with Intellisense Inverter Technology</li>
                    <li> <i class="fa-solid fa-check"></i>Single door refrigerator with Intellisense Inverter Technology</li>
                    
                </ul>
              
                    <button (click)="dec()" class="increment-btn">-</button>
                         <div class="number">{{number}}</div>
                    <button (click)="inc()" class="dce-btn">+</button>

                    <a routerLink=" " class=" buy">Buy now</a>
          
            </div>
        </div>
      <h4>Product Review</h4>
      <h6>User Name</h6>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi unde dolor nemo illo deleniti sint repellendus, enim repudiandae minus cum iste nisi voluptatibus dolorum laborum sapiente. Sequi at nam provident.</p>
     <p>Rating 
        <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
     </p>
     <hr class="gradient-line" />
     
     <h6>User Name</h6>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi unde dolor nemo illo deleniti sint repellendus, enim repudiandae minus cum iste nisi voluptatibus dolorum laborum sapiente. Sequi at nam provident.</p>
    <p>Rating 
       <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
    </p>
    <hr class="gradient-line" />
    </div>
</div>
