.container-fluid{
   
    .container{

        h6{
            text-align: center;
            font-size: 35px;
            color: #FEA116;
            font-weight: 550;
            position: relative;
            top: 150px;

        }
        .card{
            text-align: justify;
            cursor: pointer;
            &:hover{
                border-bottom: 3px solid  #FEA116;
            }
            .card-body{

                .card-title{ color: #0B141F; }

                // .anchor-text{
                //     color: #FEA116;
                //     text-decoration: none;
                //     padding-left: 15px;
                   
                //     transition: 0.1s ease-in;
                //   &:hover{
                //     transform: translateX(50%);
                //     color: #0B141F;
                //    // transform: translate(0, -10px);
                //   }

                  
                // }
                a {
                    text-decoration: none;
                    

                  }
                  
                  .link-arrow p {
                    display: inline;
                    transition: 0.1s ease-in;
                    color: #FEA116;
                    font-weight: 500;
                    float: right;
                    i{
                        padding-left: 10px;
                    }
                    &:hover{
                        transform: translateX(10%);
                    color: #0B141F;
                    }
                  }
                  
            //     
             }
        }
    }
}