<div class="container-fluid " style="background-image: url(../../../assets/images/Homepage/img-3.jpg); opacity: 1;background-size: cover;height: 400px;margin-top: 55px;">
     <div class="container align-self-center">
       <h6 >Products</h6>
     </div>
</div>
<div class="container-fluid " style="background-color: eaeaea;padding: 50px 0px; ">
    <div class="container">
      <div class="area-title text-center wow fadeInUp" data-wow-delay=".3s" data-wow-duration=".3" style="visibility: visible;animation-delay: 0.3s;animation-name: fadeInUp;padding-top: 50px; width: 500px;text-align: center;">
            <h1 class="text-center">POPULAR SERVICES</h1>
    </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card" >
                    <img src="../../../assets/images/Homepage/s1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Petrolieum Refinery</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores voluptas quisquam nihil amet labore doloribus nobis id cum nesciunt maiores ab sapiente nisi suscipit iste sequi, ab  architecto Lorem ipsum
                    </p>
                    <a href="" class="link-arrow">  
                        <p> Read more<i class="fa-solid fa-greater-than"></i></p>
                    </a>
                    </div>
                  </div>
            </div>
            <div class="col-md-4" >
                <div class="card" style="height: 550px;">
                    <img src="../../../assets/images/Homepage/s1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Petrolieum Refinerys</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, Lorem ipsum consectetur adipisicing elit. Dolores voluptas quisquam nihil amet labore doloribus nobis id cum nesciunt maiores ab sapiente nisi suscipit iste sequi, ab  architecto 
                     </p>
                     <a href="" class="link-arrow">  
                        <p> Read more<i class="fa-solid fa-greater-than"></i></p>
                    </a>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card" >
                    <img src="../../../assets/images/Homepage/s1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Petrolieum Refinerys</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet,  Lorem ipsum consectetur adipisicing elit. Dolores voluptas quisquam nihil amet labore doloribus nobis id cum nesciunt maiores ab sapiente nisi suscipit iste sequi, ab  architecto 
                    </p>
                      <a href="" class="link-arrow">  
                           <p> Read more<i class="fa-solid fa-greater-than"></i></p>
                       </a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>

