.container-fluid {
    .area-title h1 {
        font-size: 45px;
        font-weight: 800;
        margin-bottom: 34px;
        position: relative;
        border-bottom: 2px solid #e7eaeb;
        padding-bottom: 32px;
        color: #074a7c;

    }

    .area-title h1::before {
        background: #074a7c;
        width: 150px;
        height: 5px;
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .container{

        h6 {
            text-align: center;
            font-size: 35px;
            color: #ffffff;
            font-weight: 550;
            position: relative;
            top: 150px;

        }

        
        .area-title h1{
            font-size: 25px;
            font-weight: 800;
            margin-bottom: 34px;
            position: relative;
            border-bottom: 2px solid #e7eaeb;
           
            padding-bottom: 32px;
            color: #074a7c;

        }

        .area-title h1::before {
            background: #074a7c;
            width: 150px;
            height: 5px;
            content: "";
            position: absolute;
            bottom: -4px;
            left: 0;
            right: 0;
            margin: auto;
        }
          h5{

            color:#ffffff;
            font-size: 20px;
            text-align: center;

            i{
                padding-left: 5px;
            }

            a{
                text-decoration: none;
                color: #ffffff;
                padding: 10px;
                text-align: center;
                border: 1px solid #ffffff;
                margin: auto;
                &:hover{
                    background-color: #074a7c;
                    border: 1px solid #074a7c;
                }
              }
          }
          a{
            text-decoration: none;
            color: #ffffff;
            padding: 10px;
            text-align: center;
            border: 1px solid #ffffff;
         
            &:hover{
                background-color: #074a7c;
                border: 1px solid #074a7c;
            }
          }
          h1{
            color: #ffffff;
            font-size: 50px;
            margin-top: 18px;
            margin-bottom: 35px;
            text-align: center;
            font-weight: 700;
          }

         
        .card {
            text-align: justify;
            cursor: pointer;

            &:hover {
                border-bottom: 3px solid #074a7c;
            }

            .card-img-top {

                transition: width 2s, height 2s;

                &:hover {
                    transition: width 2s, height 2s;
                }
            }

            .card-body {

                .card-title {
                    color: #074a7c;
                }

                a {
                    text-decoration: none;


                }

                .link-arrow p {
                    display: inline;
                    transition: 0.1s ease-in;
                    color: #074a7c;
                    font-weight: 500;
                    float: right;

                    i {
                        padding-left: 10px;
                    }

                    &:hover {
                        transform: translateX(10%);
                        color: #074a7c;
                    }
                }

                //     
            }
        }
    }
}