<div class="container-fluid " style="background-image: url(../../../assets/images/Homepage/home-2.png); opacity: 1;background-size: cover;height:450px;margin-top:60px;">
    <div class="container align-self-center">
      <h6>About Us</h6>
    </div>
</div>

<div class="container-fluid" style="background-color: #f7f7f7;padding: 100px 0px;">
    <div class="container">
        <div class="row" style="padding-bottom: 30px;">
            <div class="col-md-6">
                <img src="../../../assets/images/Homepage/home-1.png" class="img-fluid about-img " alt="...">
                
            </div>
            <div class="col-md-6">
                <h4>About Medley</h4>
                <h5>Welcome To Medley</h5>
                    <p> Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived notonly five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, placeat! Eum saepe modi voluptas architecto tenetur dolore repellat ratione incidunt assumenda, sit amet unde doloribus possimus quisquam harum nemo ipsum?</p>
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quasi voluptates ducimus magnam itaque ea aut placeat, eos beatae, at adipisci illo laborum vero, incidunt dolore necessitatibus ipsa! Minus, vel?</p>
              </div>
              <div class="col-md-6">
                <div class="area-title  wow fadeInUp" data-wow-delay=".3s" data-wow-duration=".3" style="visibility: visible;animation-delay: 0.3s;animation-name: fadeInUp;padding-top: 50px; width: 500px;">
                    <h1>Our Teams</h1>
                </div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit architecto quae inventore. Dolorem minima deserunt doloremque mollitia provident alias, ab minus dicta, saepe earum et unde! Quasi impedit ullam nesciunt.</p>
              </div>
              <div class="col-md-6">
                <div class="area-title  wow fadeInUp" data-wow-delay=".3s" data-wow-duration=".3" style="visibility: visible;animation-delay: 0.3s;animation-name: fadeInUp;padding-top: 50px; width: 500px;">
                    <h1>Excipients</h1>
                </div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit architecto quae inventore. Dolorem minima deserunt doloremque mollitia provident alias, ab minus dicta, saepe earum et unde! Quasi impedit ullam nesciunt.</p>
              </div>
              <div class="col-md-6">
                <div class="area-title  wow fadeInUp" data-wow-delay=".3s" data-wow-duration=".3" style="visibility: visible;animation-delay: 0.3s;animation-name: fadeInUp;padding-top: 50px; width: 500px;">
                    <h1>Amino Acids</h1>
                </div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit architecto quae inventore. Dolorem minima deserunt doloremque mollitia provident alias, ab minus dicta, saepe earum et unde! Quasi impedit ullam nesciunt.</p>
              </div>
              <div class="col-md-6">
                <div class="area-title  wow fadeInUp" data-wow-delay=".3s" data-wow-duration=".3" style="visibility: visible;animation-delay: 0.3s;animation-name: fadeInUp;padding-top: 50px; width: 500px;">
                    <h1>Quality</h1>
                </div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit architecto quae inventore. Dolorem minima deserunt doloremque mollitia provident alias, ab minus dicta, saepe earum et unde! Quasi impedit ullam nesciunt.</p>
              </div>
        </div>

        <!----------card start------------->
           <div class="row" style="padding-bottom: 20px;">
            <div class="col-md-4">
                <div class="card">
                    <i class="fa-solid fa-eye mx-auto"></i>
                    <div class="card-body">
                        <p class="text-center para-text">Our Vision</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, placeat! Eum saepe modi voluptas architecto tenetur dolore repellat ratione incidunt assumenda, sit amet unde doloribus possimus quisquam harum nemo ipsum?</p>
                        
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <i class="fa-solid fa-clock-rotate-left mx-auto"></i>
                    <div class="card-body">
                       
                        <p class="text-center para-text">Our Mission</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, placeat! Eum saepe modi voluptas architecto tenetur dolore repellat ratione incidunt assumenda, sit amet unde doloribus possimus quisquam harum nemo ipsum?</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <i class="fa-solid fa-hand-holding-medical mx-auto"></i>
                    <div class="card-body">
                        <p class="text-center para-text">Our Motto</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, placeat! Eum saepe modi voluptas architecto tenetur dolore repellat ratione incidunt assumenda, sit amet unde doloribus possimus quisquam harum nemo ipsum?</p>
                    </div>
                  </div>
            </div>
           </div>
        <!----------card  end------------->
    </div>  

<!-------------------------->
   <!----- <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2>List of Companies we are Representing of India's</h2>
                        <div class="row">
                            <div class="col-6">
                                <ul style="list-style-type: none;">
                                    <li>
                                        <i class="far fa-check-circle">Alembic</i>
                                    </li>
                                    <li><i class="far fa-check-circle">Anuh Pharma</i></li>
                                    <li><i class="far fa-check-circle">AAmi Life Science</i></li>
                                    <li><i class="far fa-check-circle"> Biocon</i></li>
                                    <li><i class="far fa-check-circle">Cadila Pharma</i></li>
                                    <li><i class="far fa-check-circle">ZYDUS Life Science</i></li>
                                </ul>
                             
  
                              </div>
                              <div class="col-6">
                                <ul style="list-style-type: none;">
                                    <li><i class="far fa-check-circle">Alembic</i></li>
                                    <li><i class="far fa-check-circle">Alembic</i></li>
                                    <li><i class="far fa-check-circle">Alembic</i></li>
                                    <li><i class="far fa-check-circle">Alembic</i></li>
                                    <li><i class="far fa-check-circle">Alembic</i></li>
                                    <li><i class="far fa-check-circle">Alembic</i></li>
                                </ul>
                             
  
                              </div>
                        </div>
                           
                           
                        
                </div>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>-->
<!-------------------------->

</div>

