<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="../../../assets/images/Homepage/img-2.webp" class="img-fluid about-img " alt="...">
                
            </div>
            <div class="col-md-6 align-self-center">
                <h6 class="para-header">About Us</h6>
                <hr class="style1">
                <hr class="style14">
                <span style="position: relative; top: -30px;">
                    <p>Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived notonly five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, placeat! Eum saepe modi voluptas architecto tenetur dolore repellat ratione incidunt assumenda, sit amet unde doloribus possimus quisquam harum nemo ipsum?</p>
                </span>
              </div>
        </div>

        <!----------card start------------->
           <div class="row" style="padding-bottom: 20px;">
            <div class="col-md-4">
                <div class="card">
                    <i class="fa-solid fa-eye mx-auto"></i>
                    <div class="card-body">
                       
                        <p class="text-center para-text">Our Vision</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, placeat! Eum saepe modi voluptas architecto tenetur dolore repellat ratione incidunt assumenda, sit amet unde doloribus possimus quisquam harum nemo ipsum?</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <i class="fa-solid fa-clock-rotate-left mx-auto"></i>
                    <div class="card-body">
                       
                        <p class="text-center para-text">Our Mission</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, placeat! Eum saepe modi voluptas architecto tenetur dolore repellat ratione incidunt assumenda, sit amet unde doloribus possimus quisquam harum nemo ipsum?</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <i class="fa-solid fa-hand-holding-medical mx-auto"></i>
                    <div class="card-body">
                        <p class="text-center para-text">Our Motto</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, placeat! Eum saepe modi voluptas architecto tenetur dolore repellat ratione incidunt assumenda, sit amet unde doloribus possimus quisquam harum nemo ipsum?</p>
                    </div>
                  </div>
            </div>
           </div>
        <!----------card  end------------->
    </div>  
</div>

