<div class="container-fluid"
    style="background-image: url(../../../assets/images/Homepage/dis-img.jpg); opacity: 1;background-size: cover;height: 400px;margin-top: 55px;">
    <div class="container align-self-center">
        <h6 class="h6">Business developments</h6>
    </div>
</div>
<div class="conatiner-fluid mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="../../../assets/images/Homepage/d2.avif" class="img-fluid">
            </div>
            <div class="col-md-6 align-self-center">

                <i class="fas fa-quote-right icon-fas"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>

    </div>
    <!------------------->
    <div class="container mt-5">
        <h5>Latest</h5>
        <hr class="style1" style=" height: 4px;width: 130px; position: relative; border: 0; background-color: rgb(27, 17, 140); left: 16px; top: -8px;">
        <hr class="style14" style="  border: 0; height: 10px; width: 16px; position: relative; top: -31px; background-color: #FEA116; opacity: 1; margin-top: 5px;">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <img src="../../../assets/images/Homepage/d2.avif" class="img-fluid" alt="...">
                    </div>
                    <div class="col-md-6">
                        <h5>Lorem ipsum dolor sit</h5>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt laborum dolor deleniti
                            iusto, ab dolorem officia quas consequuntur explicabo et possimus? Voluptas repellat,
                            mollitia laborum reprehenderit nisi soluta exercitationem sapiente?</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <img src="../../../assets/images/Homepage/d4.avif" class="img-fluid" alt="...">
                    </div>
                    <div class="col-md-6">
                        <h5>Lorem ipsum dolor sit</h5>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt laborum dolor deleniti
                            iusto, ab dolorem officia quas consequuntur explicabo et possimus? Voluptas repellat,
                            mollitia laborum reprehenderit nisi soluta exercitationem sapiente?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!------------------->
</div>