<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quasi aspernatur, sapiente eveniet, libero error consequuntur ex corporis id aliquam voluptates repudiandae qui exercitationem est ratione repellat animi veniam blanditiis.</p>
              <p><span>© Copyright 2024</span> - Medley Pharmaceuticals Limited, All Rights Reserved. Website built by <a routerLink="">Blue Cow Digital.</a></p>
            </div>
            <div class="col-md-4">
              <ul>
                <li><i class="fa-brands fa-twitter"></i></li>
                <li> <i class="fa-brands fa-instagram"></i></li>
                <li> <i class="fa-solid fa-location-dot"></i></li>
              </ul>
            </div>
        </div>
    </div>
</div>
