<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="../../../assets/images/Homepage/logo-1.png" class="img-fluid">
        <h5>About Medley</h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos est sequi totam laudantium veniam autem
          accusamus accusantium corporis, commodi eveniet consequuntur impedit debitis? Quasi, corporis atque quidem
          unde iste ea.</p>
      </div>
      <div class="col-md-6" style="margin-top: 80px;">
        <h5>Folloe us</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit eos quo aliquid ex autem totam! Cupiditate
          fugiat soluta atque neque. Eos est alias quis vero quaerat iusto veniam officia saepe.</p>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-solid fa-location-dot"></i>

      </div>

      <div class="col-md-6">
        <h5>Our Brands</h5>
        <p>Lorem ipsum dolor sit amet</p>
        <div class="brand">
        <img src="../../../assets/images/Homepage/logo-1.png" class=" img-brand">
        <img src="../../../assets/images/Homepage/logo-1.png" class="img-fluid img-brand">
        <img src="../../../assets/images/Homepage/logo-1.png" class="img-fluid img-brand">
        <img src="../../../assets/images/Homepage/logo-1.png" class="img-fluid img-brand">
        <img src="../../../assets/images/Homepage/logo-1.png" class="img-fluid img-brand">
        </div>

        <a routerLink="" style="border: none;"> Home</a>
        <a routerLink="">About</a>
        <a routerLink="">Distribution</a>
        <a routerLink="">Development</a>
        <a routerLink="">Contract Us</a>


      </div>
      <hr style="color: white; margin-top: 15px;">
      <div class="col-md-12">
        <p class="text-center">© Copyright 2024 - Medley Pharmaceuticals Limited, All Rights Reserved. Website built by
          Blue Cow Digital.</p>
      </div>
    </div>
  </div>
</div>