<div class="container-fluid">
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" routerLink="/home"><img src="../../../assets/images/Homepage/logo-1.png"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0 ">
              <li class="nav-item">
                <a class="nav-link active"  aria-current="page" routerLinkActive="active" routerLink="/home">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " routerLinkActive="active" routerLink="/about">ABOUT</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/product">PRODUCTS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " routerLinkActive="active" routerLink="/distribution">DISTRIBUTION</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/business">BUSINESS DEVELOPMENT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " routerLinkActive="active" routerLink="/contracts">CONTRACT US</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " routerLinkActive="active" routerLink="/addtocart">ADD TO CART</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " routerLinkActive="active" routerLink="/login">LOGIN</a>
              </li>
    
            </ul>
            
          </div>
        </div>
      </nav>
</div>
