.container-fluid {

    padding-bottom: 100px;
    padding: 0px;

    // #carouselExample {

    //     .carousel-inner {
    //         height: 450px;
    //         width: 100%;
    //         object-fit: contain;
    //         padding-top: 55px;
    //     }
    // }
    .loader { 
       // margin:0 auto;
        position:relative;
        padding:1px;
       height: 4px;
        .loaderBar { 
            position:absolute;
            border-radius:10px;
            top:0;
            right:100%;
            bottom:0;
            left:0;
            background:#074a7c; 
            width:0;
            //animation:borealisBar 10s linear infinite;
            animation:  20s linear  infinite  borealisBar ;
            
          }
      }
      .loader:before {
        content:''; 
        border-radius:10px;
        position:absolute;
        top:-4px; 
        right:4px; 
        bottom:-4px; 
        left:4px;
      }
      
      
      @keyframes borealisBar {
        0% {
          left:0%;
          right:100%;
          width:0%;
        }
        10% {
          left:0%;
          right:75%;
          width:25%;
        }
        90% {
          right:0%;
          left:75%;
          width:25%;
        }
        100% {
          left:0%;
          right:0%;
          width:0%;
        }
      
           
          
      }


    .carousel{
         .carousel-inner{
          
           .carousel-item{
              img{
                height: 600px;
                width: 100%;
                object-fit: cover;
                padding-top: 55px;
              }
              .carousel-caption {
                h5  {
                    position: absolute;
                    margin-top: -280px;
                   
                    font-size: 30px;
                    font-weight: 700;
                    color: white;
                    align-items: center;
                }
                p{
                    position: absolute;
                    margin-top: -240px;
                   
                    font-size: 30px;
                    font-weight: 700;
                    color: white;
                    align-items: center;

                }
              }
           }
        }
        
    }

.container {
        h6 {
            font-size: 24px;
            font-weight: bold;
            color: #074a7c;
        }
        .h5-emp{
            color: #074a7c;
            padding: 20px 0px;
            font-size: 24px;
            font-weight: 500;
            text-align: center;
        }
       h2{
        color: #074a7c;
        text-align: center;
       }
       small{
        color: #074a7c;
        position: relative;
        top: -5px;
       }
        .icon-fas {
            font-size: 20px;
            color: #074a7c;
        }

        p {
            text-align: justify;
            color: #8a8a8a;
        }

        .area-title {
            width: 500px;
            margin: auto;
            margin-bottom: 20px;
        }

        .area-title h1 {
            font-size: 45px;
            font-weight: 800;
            margin-bottom: 34px;
            position: relative;
            border-bottom: 2px solid #e7eaeb;
            padding-bottom: 32px;
            color: #074a7c;

        }

        .area-title h1::before {
            background: #074a7c;
            width: 150px;
            height: 5px;
            content: "";
            position: absolute;
            bottom: -4px;
            left: 0;
            right: 0;
            margin: auto;
        }

        .card {
            cursor: pointer;
            margin: 30px auto;

            .card-image {
                opacity: 1;
                transition: 0.4s ease;
                height: 250px;

                &:hover {
                    opacity: 1;

                    transform: scale(1.08);
                }
            }

            span {
                display: flex;
                text-align: justify;
                padding: 10px;
                
                .fas-icons {
                    margin: auto;
                    padding: 10px;
                    font-size: 30px;
                    color: #074a7c;
                    border: 1px solid #074a7c;
                    border-radius: 50%;
                    margin-right: 10px;
                }
            }

           

            .card-body {

                h6 {
                    text-align: center;
                    margin-bottom: 10px;
                }
            }
        }

        .card-title {

            color: #074a7c;
            text-align: center;
            font-size: 20px;
        }

        .about-text {
            color: #8a8a8a;
            font-size: 18px;
            padding-top: 60px;

            p {
                color: #8a8a8a;
            }

            h5 {
                color: #074a7c;
                font-size: 24px;
                font-weight: 500;
            }

            .home-anchor {

                color: #074a7c;
                padding: 10px;
                border: 1px solid #074a7c;
                position: relative;
                top: 15px;

            }

            a {
                text-decoration: none;


            }

            .about-us-info {
                position: relative;
                background: #074a7c;
                bottom: 220px;
                right: 90px;
                left: 05px;
                padding: 34px 53px 30px 51px;
                opacity: .8;

                a {
                    color: #FEA116;
                    opacity: 1;
                    display: flow;

                    &:hover {
                        color: white;
                    }
                }
            }

            .about-info::before {
                position: relative;
                content: "";
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 40px 30px 0;
                border-color: transparent #074a7c transparent transparent;
                left: -51px;
                bottom: -107px;
                opacity: .8;
            }

            .about-h3 {
                color: white;
                position: relative;
                top: -10px;
            }

            .col-md-6 {

                padding: 70px 0px 0px 0px;



            }
        }

        .card-body {

            span {
                display: flex;
                text-align: justify;
                padding: 10px;

                i {
                    margin: auto;
                    padding: 0px 10px;
                    color: #074a7c;
                    font-size: 30px;
                }
            }

        }

      .col-md-3{

        .card{
            
            .icon{
                margin: auto;
                padding: 10px;
                font-size: 25px;
                color: #074a7c;
                margin-top: 15px;
                border-radius: 50%;
                border: 1px solid #074a7c;
            }
        }
      }   
    }



}