<!-------carousel start---------->
<div class="container-fluid">
    <!---<div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/images/Homepage/bg-footer.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/images/Homepage/dis-img.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/images/Homepage/img-1.webp" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>--->
<!------------------->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/images/Homepage/dis-img.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption ">
          <h5 class="animate__animated  animate__fadeInLeftBig">Medley</h5>
          <p class="animate__animated  animate__fadeInLeftBig">Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/Homepage/dis-img.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption ">
          <h5 class="animate__animated  animate__fadeInLeftBig ">Medley</h5>
          <p class="animate__animated  animate__fadeInLeftBig"> Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/Homepage/img-1.webp" class="d-block w-100" alt="...">
        <div class="carousel-caption ">
          <h5 class="animate__animated  animate__fadeInLeftBig">Medley </h5>
          <p class="animate__animated  animate__fadeInLeftBig"> Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="loader">
    <div class="loaderBar"></div>
  </div>
<!------------------->
</div>
<!-------carousel end---------->

<div class="container-fluid" style="margin: 10px 0px;padding: 50px 0px;">
    <div class="container">
        
    <div class="area-title text-center mb-75 wow fadeInUp" data-wow-delay=".3s" data-wow-duration=".3" style="visibility: visible;animation-delay: 0.3s;animation-name: fadeInUp;">
            <h1>About Us</h1>
           
        </div>    
        
        <div class="row" style="margin-bottom: 30px;">
            <div class="col-md-4">
                <div class="card">
                    <img src="../../../assets/images/Homepage/dis-img.jpg" class="card-image img-fluid rounded" >
                    
                </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../../../assets/images/Homepage/img-1.webp"  class="card-image img-fluid rounded">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div><div class="col-md-4">
                <div class="card">
                    <img src="../../../assets/images/Homepage/img-2.webp"  class="card-image img-fluid rounded" >
                </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<!------------------------>
<!------------------------>
<div class="container-fluid bg-colour" style="background-color: #f7f7f7;">
     <div class="container">
        <div class="row about-text">
            <div class="col-md-6">
                 <h5>About Medley pharma</h5>
                 <h4>Welcome To Medley pharmas</h4>
                 <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem, at. Nobis maxime et non suscipit asperiores! Recusandae aliquam sunt, quidem odit aut cupiditate. Earum sunt, asperiores eaque laborum iste ea.</p>
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis qui voluptas accusamus sapiente rem illo, perspiciatis ex perferendis ipsum. Unde quidem magni illum cumque consectetur sequi vero natus, maiores in.</p>
                <a routerLink="" class=" home-anchor rounded">Read more <i class="fa-solid fa-arrow-right"></i> </a>
                </div>
            <div class="col-md-6">
                 <img src="../../../assets/images/Homepage/dis-img.jpg" class="img-fluid mx-auto" alt="..." style="position: relative;left:45px;">
                <div class="about-us-info">
                    <div class="about-info">
                        <h3 class="about-h3">Global Pharmaceutical <a routerLink=" " class=" ">expertise</a></h3>
                    </div>
                </div>
            </div>
        </div>
     </div>
</div>
<!-------------------------->
<div class="container-fluid">
    <div class="container" style="padding: 100px 0px;">
        <div class="area-title text-center mb-75 wow fadeInUp" data-wow-delay=".3s" data-wow-duration=".3" style="visibility: visible;animation-delay: 0.3s;animation-name: fadeInUp;">
            <h1 class="text-center">Our Strength</h1>
        </div>
             <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia sit voluptatum delectus quisquam esse omnis minus maiores. Asperiores nostrum dolores repellat enim odio, fugit eveniet culpa atque cum odit corporis?</p>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <span style="display: flex;"> 
                        <i class="fa-solid fa-globe fas-icons"></i>
                    <p style="display: flex;">Lorem ipsum dolor sit amet consectetur adipisicing elit.  Odio praesentium repellat nostrum tempora eum aut ea?</p></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <span style="display: flex;"> <i class="fa-solid fa-globe fas-icons"></i>
                    <p style="display: flex;">Lorem ipsum dolor sit amet consectetur adipisicing elit.  Odio praesentium repellat nostrum tempora eum aut ea?</p></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <span style="display: flex;"> <i class="fa-solid fa-globe fas-icons"></i>
                    <p style="display: flex;">Lorem ipsum dolor sit amet consectetur adipisicing elit.  Odio praesentium repellat nostrum tempora eum aut ea?</p></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <span style="display: flex;"> <i class="fa-solid fa-globe fas-icons"></i>
                     <p style="display: flex;">Lorem ipsum dolor sit amet consectetur adipisicing elit.  Odio praesentium repellat nostrum tempora eum aut ea?</p>
                </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!------------------------->
<div class="container-fluid bg-colour" style="background-color: #f7f7f7;padding-bottom: 50px;">
    <div class="container">
        <div class="area-title text-center wow fadeInUp" data-wow-delay=".3s" data-wow-duration=".3" style="visibility: visible;animation-delay: 0.3s;animation-name: fadeInUp;padding-top: 50px; width: 500px;text-align: center;">
            <h1 class="text-center">Our Team</h1>
        </div>
       <div class="row ">
           <div class="col-md-6 align-self-center">
                <i class="fas fa-quote-right icon-fas"></i>
                <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum temporibus hic dignissimos! Iusto temporibus amet maiores doloribus facilis earum delectus nam animi fugiat? Corporis rerum consectetur eaque, ipsam officiis aliquam?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, dignissimos sequi. Nihil et aut reprehenderit eius doloremque, magnam quam vel veniam dolorum mollitia ratione blanditiis sit voluptates architecto quibusdam hic.</p>
            </div>
           <div class="col-md-6">
               <img src="../../../assets/images/Homepage/dis-img.jpg" class="img-fluid" alt="..." >
              
           </div>
       </div>
    </div>
</div>
<!------------------------------->
<div class="container-fluid" style="padding: 60px 0px;">
     <div class="container">
        <h6> Why Choose Us <i class="fa-solid fa-question"></i></h6>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste fuga, possimus, quod commodi unde laudantium odio adipisci minima tempore at cumque vel voluptatem! Cupiditate, ex. Unde perspiciatis alias similique atque!</p>
        <div class="row">
            <div class="col-md-3">
                <div class="card"> 
                    <i class="fa-solid fa-share-nodes icon mx-auto text-center"></i>
                    <div class="card-body">
                       <h6 >Global Supply Chain</h6>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae rem iusto, soluta exercitationem accusamus quia eligendi suscipit voluptate architecto consequatur quam perspiciatis fuga, esse aut repudiandae reprehenderit ab illo odio.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card"> 
                    <i class="fa-solid fa-share-nodes icon mx-auto text-center"></i>
                    <div class="card-body">
                       <h6 >Innovation</h6>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae rem iusto, soluta exercitationem accusamus quia eligendi suscipit voluptate architecto consequatur quam perspiciatis fuga, esse aut repudiandae reprehenderit ab illo odio.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card"> 
                    <i class="fa-solid fa-share-nodes icon mx-auto text-center"></i>
                    <div class="card-body">
                       <h6 >Cost Effectiveness</h6>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae rem iusto, soluta exercitationem accusamus quia eligendi suscipit voluptate architecto consequatur quam perspiciatis fuga, esse aut repudiandae reprehenderit ab illo odio.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card"> 
                    <i class="fa-solid fa-share-nodes icon mx-auto text-center"></i>
                    <div class="card-body">
                       <h6 >Quality</h6>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae rem iusto, soluta exercitationem accusamus quia eligendi suscipit voluptate architecto consequatur quam perspiciatis fuga, esse aut repudiandae reprehenderit ab illo odio.</p>
                    </div>
                </div>
            </div>
        </div>
     </div>
</div>
<!------------------------------->
<div class="container-fluid " style="background-color: #f7f7f7;padding-bottom: 50px;">
    <div class="container"  style="padding: 50px 0px;">
        <h5 class="h5-emp">Strong presence in india</h5>
        <div class="row">
            <div class="col-md-4 text-center">
                <h2>1234</h2>
                <small>INR FY24 Revenue</small>
            </div>
            <div class="col-md-4 text-center">
                <h2>20k+</h2>
                <small>Employees</small>
            </div>
            <div class="col-md-4 text-center">
                <h2>91%</h2>
                <small>Domestic Revenue</small>
            </div>
        </div>
    </div>
</div>
<!------------------------------->
