.container-fluid{
    margin-top: 54px;
    background-color: #eaeaea;
    .container{
       
        padding:50px 0px 30px 0px;
        h6{
            font-size: 20px;
            color: #FEA116;
        }
        hr.style14 {
            border: 0;
            height: 10px;
            width: 16px;
            position: relative;
            top: -31px;
            background-color: #FEA116;
            opacity: 1;
            margin-top: 5px;
        }
    
        .style1 {
            height: 4px;
            width: 130px;
            position: relative;
            border: 0;
            background-color: rgb(27, 17, 140);
    
            left: 16px;
            top: -8px;
        }

       .card{
             position: relative;
             top: -25px;
        .card-body{
            span{
                font-size: 20px;
                color: #FEA116;
            }
            .form-label{
                margin-top: 10px;
            }
            .form-control{
                margin-top: 10px;
            }

            .button-cls {
                padding: 10px;
                text-decoration: none;
                color: #FEA116;
                border: 1px solid #FEA116;
                font-size: 20px;
                font-weight: 500;
                position: relative;
                
                margin-top: 20px;
              width: 170px;
                
                &:hover {
                    color: white;
                    background-color: #FEA116;
                }
            }
        }
       }
    }
} 