<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h6>Login</h6>
                <hr class="style1">
                <hr class="style14">
                <div class="card">
                    <div class="card-body">
                          <label for="inputEmail4" class="form-label">First Name <span>*</span></label>
                        <input type="text" class="form-control" placeholder="First name" aria-label="First name" required>
                            <label for="inputEmail4" class="form-label">Last Name <span>*</span></label>
                        <input type="text" class="form-control" placeholder="Last name" aria-label="Last name"  required>
                            <label for="inputEmail4" class="form-label">Mail Id <span>*</span></label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" required>
                        <label for="inputEmail4" class="form-label">Password <span>*</span></label>
                        <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">       
                        <label for="inputEmail4" class="form-label">Phone Number <span>*</span></label>
                        <input type=" number" class="form-control" id="exampleFormControlInput1" placeholder=" Phone Number" required>
                         
                       
                        <a routerLink=" " class="button-cls mx-auto form-control"> Create Account</a>
                    </div>
                </div>

            </div>
          </div>
    </div>
</div>
