<div class="container-fluid " style="background-image: url(../../../assets/images/Homepage/bg-footer.jpg); opacity: 1;background-size: cover;height: 400px;margin-top: 55px;">
    <div class="container align-self-center">
      <h6 >Distribution</h6>
    </div>
</div>
<div class="container-fluid " style="background-color: #f7f7f7;padding: 50px 0px; ">
<!------------------------->
     <div class="container" style="margin-bottom: 20px;">
        <div class="row">
             <div class="col-md-6 " >
                    <img src="../../../assets/images/Homepage/product-1.jpg" class="img-fluid img-height" alt="...">
                   
                </div>
                <div class="col-md-6 ">
                    <i class="fas fa-quote-right icon-fas"></i>
                    <p>Lorem Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi distinctio dicta non saepe obcaecati eum ratione reiciendis cupiditate, asperiores hic soluta at alias corporis enim amet itaque nulla officia? Officia.</p>
                </div>
            
        </div>
     </div>
<!------------------------>
    <div class="container">
       <div class="row">
           <div class="col-md-4">
               <div class="card">
                   <img src="../../../assets/images/Homepage/s4.jpg" class="card-img-top" alt="...">
                   <div class="card-body">
                     <h5 class="card-title">Petrolieum Refinerys</h5>
                     <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores voluptas quisquam nihil amet labore doloribus nobis id cum nesciunt maiores ab sapiente nisi suscipit iste sequi, ab  architecto Lorem ipsum</p>
                   <p><i class="fa-solid fa-check icon"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elits.</p>
                   <p><i class="fa-solid fa-check icon"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                   <a href="" class="link-arrow">  
                       <p> Read more<i class="fa-solid fa-greater-than"></i></p>
                   </a>
                   </div>
                 </div>
           </div>
           <div class="col-md-4">
               <div class="card" >
                   <img src="../../../assets/images/Homepage/s3.jpg" class="card-img-top" alt="...">
                   <div class="card-body">
                     <h5 class="card-title">Petrolieum Refinerys</h5>
                     <p class="card-text">Lorem ipsum dolor sit amet, Lorem ipsum consectetur adipisicing elit. Dolores voluptas quisquam nihil amet labore doloribus nobis id cum nesciunt maiores ab sapiente nisi suscipit iste sequi, ab  architecto </p>
                     <p><i class="fa-solid fa-check icon"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elits.</p>
                     <p><i class="fa-solid fa-check icon"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <a href="" class="link-arrow">  
                       <p> Read more<i class="fa-solid fa-greater-than"></i></p>
                   </a>
                   </div>
                 </div>
           </div>
           <div class="col-md-4">
               <div class="card" >
                   <img src="../../../assets/images/Homepage/img-2.webp" class="card-img-top" alt="...">
                   <div class="card-body">
                     <h5 class="card-title">Petrolieum Refinerys</h5>
                     <p class="card-text">Lorem ipsum dolor sit amet,  Lorem ipsum consectetur adipisicing elit. Dolores voluptas quisquam nihil amet labore doloribus nobis id cum nesciunt maiores ab sapiente nisi suscipit iste sequi, ab  architecto. </p>
                     <p><i class="fa-solid fa-check icon"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elits.</p>
                      <p><i class="fa-solid fa-check icon"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                     <a href="" class="link-arrow">  
                          <p> Read more<i class="fa-solid fa-greater-than"></i></p>
                      </a>
                   </div>
                 </div>
           </div>
       </div>
   </div>

   <!------------------------>

   <div class="container-fluid mt-2">
      <div class="row  text-center">
                <div class="col-md-3 ">
                    
                        <span class="text-center">
                            <i class="fa-solid fa-globe center "></i>
                        </span>
                        <h5>Worldwide Shipping</h5>
                        <p class="card-border">It elit tellus, luctus nec ullamcorper mattis, It elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                    
                </div>
                <div class="col-md-3 ">
                    <span class="text-center">
                        <i class="fa-regular fa-star"></i>
                    </span>
                    <h5>Best Quality</h5>
                    <p class="card-border">It elit tellus, luctus nec ullamcorper mattis, pulvinar  It elit tellus, luctus nec ullamcorper mattis,dapibus leo.</p>
                 </div>
                 <div class="col-md-3 ">
                    <span class="text-center">
                        <i class="fa-solid fa-globe center"></i>
                    </span>
                    <h5>Best Offers</h5>
                    <p class="card-border">It elit tellus, luctus nec ullamcorper mattis, pulvinar It elit tellus, luctus nec ullamcorper mattis, dapibus leo.</p>
                 </div>
                 <div class="col-md-3 ">
                    <span class="text-center mx-auto">
                        <i class="fa-solid fa-wallet"></i>
                    </span>
                    <h5>Secure Payments</h5>
                    <p class="card-border">It elit tellus, luctus nec ullamcorper mattis, pulvinar It elit tellus, luctus nec ullamcorper mattis, dapibus leo.</p>
                 </div>
      </div>
   </div>
   <!------------------------>
</div>

