.container-fluid {
        p{
            text-align: justify;
            color: #8a8a8a;
        }
    .col-md-3 {
        // padding: auto 10px;
        transition: transform .1s;
        margin-top: 20px;
        cursor: pointer;

        .card-border {
            text-align: justify;
        }

        span {

            i {
                font-size: 30px;
                color: #074a7c;
                text-align: center;
                padding: 20px;
                border: 1px solid #074a7c;
                border-radius: 50%;
                margin: 20px auto 10px auto;
            }

        }


    }

    .container {

        .img-height {
            height: 400px;
            width: 100%;
            object-fit: cover;

           
            position: relative;

        }
        .col-md-6 {
            
            .icon-fas {
                font-size: 20px;
                color: #074a7c;
            }

            p {
                text-align: justify;
            }
        }

        h6 {
            text-align: center;
            font-size: 35px;
            color: white;
            font-weight: 550;
            position: relative;
            top: 150px;
            font-weight: 600;

        }

        .card {
            text-align: justify;
            cursor: pointer;
            transition: transform .1s;
            margin-top: 20px;

            &:hover {
                border-bottom: 3px solid #074a7c;
                // transform: scale(1.5);
            }

            .card-body {
               p{
                text-align: justify;
                .icon{
                    padding: 5px;
                    
                    font-size: 15px;
                    color: #074a7c;
                    margin-right: 5px;
                }
               }
                .card-title {
                    color: #074a7c;
                }


                a {
                    text-decoration: none;


                }

                .link-arrow p {
                    display: inline;
                    transition: 0.1s ease-in;
                    color: #074a7c;
                    font-weight: 500;
                    float: right;

                    i {
                        padding-left: 10px;
                    }

                    &:hover {
                        transform: translateX(10%);
                        color: #074a7c;
                    }
                }


            }
        }

    }
}